---
openapi: 3.0.0
info:
  title: Verify API
  description: |
    [https://www.veryfi.com/](https://www.veryfi.com/).
  contact:
    email: support@veryfi.com
  license:
    name: MIT
    url: https://raw.githubusercontent.com/veryfi/veryfi-python/master/LICENSE
  version: v7
servers:
  - url: https://api.veryfi.com/api/v7/partner
security:
  - ClientId: []
    Authorization: []
tags:
  - name: documents
    description: Process and manage documents.
  - name: line-items
    description: Process and manage line items.
  - name: tags
    description: Process and manage tags.
paths:
  /documents:
    get:
      tags:
        - documents
      summary: Search Documents
      description: |
        Retrieve previously processed documents.
      operationId: getDocuments
      parameters:
        - name: q
          in: query
          description: |
            Search term to search for a specific document by its content.
            These fields will be searched:
            external_id, category, vendor.name, notes, invoice_number, total and ocr_text.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: external_id
          in: query
          description: Search for documents that match your custom identifier.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: created__gt
          in: query
          description: |
            Search for documents with a created date greater than the one specified here.
            The date format for this parameter is: YYYY-MM-DD+HH:MM:SS
            Don't send both `created__gt` and `created__gte` in a single request.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: created__gte
          in: query
          description: |
            Search for documents with a created date greater than or equal to the one specified here.
            The date format for this parameter is: YYYY-MM-DD+HH:MM:SS
            Don't send both `created__gt` and `created__gte` in a single request.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: created__lt
          in: query
          description: |
            Search for documents with a created date less than the one specified here.
            The date format for this parameter is: YYYY-MM-DD+HH:MM:SS
            Don't send both `created__lt` and `created__lte` in a single request.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: created__lte
          in: query
          description: |
            Search for documents with a created date less than or equal to the one specified here.
            The date format for this parameter is: YYYY-MM-DD+HH:MM:SS
            Don't send both `created__lt` and `created__lte` in a single request.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: List of previously processed documents.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Document"
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
    post:
      tags:
        - documents
      summary: Process a Document.
      description: |
        Process a document and extract all the fields from it.
      operationId: processDocument
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
          application/json:
            schema:
              $ref: "#/components/schemas/DocumentUploadOptions"
      responses:
        "201":
          description: Document.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
  /documents/{document_id}:
    get:
      tags:
        - documents
      summary: Get a Document.
      description: |
        Retrieve a existing document by ID.
      operationId: getDocument
      parameters:
        - name: document_id
          in: path
          description: ID of the document.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
        - name: return_audit_trail
          in: query
          description: ""
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Document.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
    put:
      tags:
        - documents
      summary: Update a Document.
      description: |
        Update data for a previously processed document, including almost any field like `vendor`, `date`, `notes` and etc.
      operationId: updateDocument
      parameters:
        - name: document_id
          in: path
          description: ID of the document.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      requestBody:
        $ref: "#/components/requestBodies/Document"
      responses:
        "200":
          description: Document.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
    delete:
      tags:
        - documents
      summary: Delete a Document.
      description: |
        Delete an existing document by ID.
      operationId: deleteDocument
      parameters:
        - name: document_id
          in: path
          description: ID of the document.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
  /documents/{document_id}/line-items:
    get:
      tags:
        - line-items
      summary: Get Line Items.
      description: |
        Retrieve all line items for a specific document.
      operationId: getLineItems
      parameters:
        - name: document_id
          in: path
          description: ID of the document.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: List of line items.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200"
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
    post:
      tags:
        - line-items
      summary: Add a Line Item.
      description: |
        Add a new line item on an existing document.
      operationId: addLineItem
      parameters:
        - name: document_id
          in: path
          description: ID of the document.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      requestBody:
        $ref: "#/components/requestBodies/LineItem"
      responses:
        "200":
          description: LineItem.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineItem"
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
    delete:
      tags:
        - line-items
      summary: Delete All Line Items.
      description: |
        Delete all line items on an existing document.
      operationId: deleteAllLineItems
      parameters:
        - name: document_id
          in: path
          description: ID of the document.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
  /documents/{document_id}/line-items/{line_item_id}:
    get:
      tags:
        - line-items
      summary: Get a Line Item.
      description: |
        Retrieve a line item for existing document by ID.
      operationId: getLineItem
      parameters:
        - name: document_id
          in: path
          description: ID of the document.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
        - name: line_item_id
          in: path
          description: ID of the line item.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: LineItem.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineItem"
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
    put:
      tags:
        - line-items
      summary: Update a Line Item.
      description: |
        Update an existing line item on an existing document.
      operationId: updateLineItem
      parameters:
        - name: document_id
          in: path
          description: ID of the document.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
        - name: line_item_id
          in: path
          description: ID of the line item.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      requestBody:
        $ref: "#/components/requestBodies/LineItem"
      responses:
        "200":
          description: LineItem.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineItem"
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
    delete:
      tags:
        - line-items
      summary: Delete a Line Item.
      description: |
        Delete an existing line item on an existing document.
      operationId: deleteLineItem
      parameters:
        - name: document_id
          in: path
          description: ID of the document.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
        - name: line_item_id
          in: path
          description: ID of the line item.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
  /tags:
    get:
      tags:
        - tags
      summary: Get Tags.
      description: |
        Retrieve all existing tags.
      operationId: getTags
      responses:
        "200":
          description: List of tags
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_1"
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
  /tags/{tag_id}:
    delete:
      tags:
        - tags
      summary: Delete a Tag.
      description: |
        Delete a tag globally. The tag will be removed from all documents.
      operationId: deleteTag
      parameters:
        - name: tag_id
          in: path
          description: ID of the tag
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
  /documents/{document_id}/tags:
    get:
      tags:
        - tags
      summary: Get Document Tags.
      description: |
        Retrieve all tags for a specific document.
      operationId: getDocumentTags
      parameters:
        - name: document_id
          in: path
          description: ID of the document.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: List of tags
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_200_1"
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
    put:
      tags:
        - tags
      summary: Add a Document Tag.
      description: |
        Add a new tag on an existing document.
      operationId: addDocumentTag
      parameters:
        - name: document_id
          in: path
          description: ID of the document.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      requestBody:
        $ref: "#/components/requestBodies/Tag"
      responses:
        "200":
          description: Tag.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
    delete:
      tags:
        - tags
      summary: Delete All Document Tags.
      description: |
        Delete all tags from an existing document.
      operationId: deleteAllDocumentTags
      parameters:
        - name: document_id
          in: path
          description: ID of the document.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
  /documents/{document_id}/tags/{tag_id}:
    delete:
      tags:
        - tags
      summary: Delete a Document Tag.
      description: |
        Delete a tag from an existing document.
      operationId: deleteDocumentTag
      parameters:
        - name: document_id
          in: path
          description: ID of the document.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
        - name: tag_id
          in: path
          description: ID of the tag
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
      responses:
        default:
          description: OperationStatus.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
components:
  schemas:
    Tag:
      required:
        - id
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 75788890
        name:
          type: string
          example: tag
    TaxLine:
      type: object
      properties:
        base:
          type: number
          format: double
          example: 1.11
        name:
          type: string
          example: "SALES"
        order:
          type: integer
          example: 0
        rate:
          type: number
          format: double
          example: 1.11
        total:
          type: number
          format: double
          example: 2.22
    LineItem:
      type: object
      properties:
        date:
          type: string
          example: ""
        description:
          type: string
          example: "98 Meat Pty Xchz"
        discount:
          type: number
          format: double
          example: 0.0
        discount_rate:
          type: number
          format: double
          example: 0.0
        id:
          type: integer
          format: int64
          example: 75788890
        order:
          type: integer
          example: 1
        price:
          type: number
          format: double
          example: 12.5
        quantity:
          type: number
          format: double
          example: 1
        reference:
          type: string
          example: ""
        section:
          type: string
          example: ""
        sku:
          type: string
          example: "038902058959"
        tax:
          type: number
          format: double
          example: 7.66
        tax_rate:
          type: number
          format: double
          example: 7.66
        text:
          type: string
          example: "GINGER CARROT SOUP"
        total:
          type: number
          format: double
          example: 88.2
        type:
          type: string
          example: food
        unit_of_measure:
          type: string
          example: ""
    Document:
      type: object
      properties:
        abn_number:
          type: string
          example: ""
        account_number:
          type: string
          example: ""
        bill_to_address:
          type: string
          example: "2 Court Square\nNew York, NY 12210"
        bill_to_name:
          type: string
          example: "John Smith"
        bill_to_vat_number:
          type: string
          example: ""
        card_number:
          type: string
          example: "7373"
        cashback:
          type: number
          format: double
          example: 7.66
        category:
          type: string
          example: "Meals & Entertainment"
        created:
          type: string
          example: "2021-08-05 17:24:48"
        currency_code:
          type: string
          example: "USD"
        date:
          type: string
          example: "2021-08-05 10:24:48"
        delivery_date:
          type: string
          example: ""
        discount:
          type: number
          format: double
          example: 7.66
        document_reference_number:
          type: string
          example: ""
        document_title:
          type: string
          example: INVOICE
        document_type:
          type: string
          example: "invoice"
        due_date:
          type: string
          example: ""
        duplicate_of:
          type: string
          example: ""
        external_id:
          type: string
          example: ""
        id:
          type: integer
          example: ""
        img_file_name:
          type: string
          example: "8247b18a-41f0-443c-bbf4-10814385e097.pdf"
        img_thumbnail_url:
          type: string
          example: "https://scdn.veryfi.com/receipts/470e7ab9-3084-4d05-b840-885383a2c22e/thumbnail.jpg?Expires=1628185188&Signature=cnyZCF~GnF2TkizYWObnGuNDhmkCsRl5-XoVymoalJFjJCrQKmq7RbpS6RCUnt60aVlPiT1uJeQJXG4eyZOg~FfJc5-ieC0gkqAFhh9vCRjzph15niTfq0mKg23nOu3YR8BJcWBfPfEL8k3FEqFERsvUBNddvfCkfx9JoMlq9ATNBQLxkK4lJPF4vMcFpkiCStOEt0MDJM80NbgPAqZEAQuDzygaiy8owaGiOVIj0h0ZMzLHNPzf5flGYqK6D2LvGRZlEIESavULk1Eug7tuG1DiqxTaDDxDbBGUCDb9ZIaKQAsPXzoEHUExB3J61q-B5KTFJSNch1okMe6sT9fzpQ__&Key-Pair-Id=APKAJCILBXEJFZF4DCHQ"
        img_url:
          type: string
          example: "https://scdn.veryfi.com/receipts/470e7ab9-3084-4d05-b840-885383a2c22e/8247b18a-41f0-443c-bbf4-10814385e097.pdf?Expires=1628185188&Signature=OAaTOHH3KQYlj9pPA0fO50VjQSC8hnJJVvyJZwiGbK-wLw76UF5tWm0XtD5Htp2xx0vXbqJINIT7joyLA1dik01qDprgUbuXfcGamPUgJ6xcLOBKBF855bpFepK0Jdr-x9aGnx4EER7Z~CxUgvrv99cuFGuMab2s9gr0DwXHgLTCzVMZ2dOhbbvR8Yw8ADddzoOSPkwc~3PBB6AGla8cTQmSO0EWlq87rPaXWRrOnqnHwv5RqLWzVpODWVLeBYYudE2ZlaO~U7ftHzc0llKl3kffn4hElaDd5a7VoN0V9yKrGa1cCgRyYmFy9qtGsn3XPZutgnnzkB-~p6y0CUr7Zg__&Key-Pair-Id=APKAJCILBXEJFZF4DCHQ"
        insurance:
          type: number
          format: double
          example: 0.0
        invoice_number:
          type: string
          example: ""
        is_duplicate:
          type: integer
          example: 0
        line_items:
          type: array
          items:
            $ref: "#/components/schemas/LineItem"
        notes:
          type: string
          example: ""
        ocr_text:
          type: string
          example: '2004-10-31\n\t8:21 PM\nYOUR GUEST NUMBER IS\n98\nIN-N-OUT BURGER LAS VEGAS EASTERN\n2004-10-31\t\t8:21 PM\n165 1 5 98\nCashier: SAM\nGUEST #: 98\nCounter-Eat in\n\t2.65\nDbDb\t\t88.20\n98 Meat Pty Xchz\n\t90.85\nCounter-Eat In\t\t6.81\nTAX 7.50%\t\t97.66\nAmount Due\n\t$97.66\nCASH TENDER\t\t$.00\nChange\n2004-10-31\t\t8:21 PM\nTHANK YOU!'
        order_date:
          type: string
          example: ""
        payment_display_name:
          type: string
          example: "Visa"
        payment_terms:
          type: string
          example: "15 days"
        payment_type:
          type: string
          example: "visa"
        phone_number:
          type: string
          example: "61784074851"
        purchase_order_number:
          type: string
          example: "2312/2019"
        rounding:
          type: number
          format: double
          example: 0.0
        service_end_date:
          type: string
          example: ""
        service_start_date:
          type: string
          example: ""
        ship_date:
          type: string
          example: ""
        ship_to_address:
          type: string
          example: "3787 Pineview Drive\nCambridge, MA 12210"
        ship_to_name:
          type: string
          example: "John Smith"
        shipping:
          type: number
          format: double
          example: 0.0
        store_number:
          type: string
          example: ""
        subtotal:
          type: number
          format: double
          example: 97.66
        tax:
          type: number
          format: double
          example: 12.5
        tax_lines:
          type: array
          items:
            $ref: "#/components/schemas/TaxLine"
        tip:
          type: number
          format: double
          example: 12.5
        total:
          type: number
          format: double
          example: 97.66
        total_weight:
          type: string
          example: ""
        tracking_number:
          type: string
          example: ""
        updated:
          type: string
          example: "2021-08-05 17:24:48"
        vat_number:
          type: string
          example: ""
        vendor:
          $ref: "#/components/schemas/DocumentVendor"
        vendor_account_number:
          type: string
          example: ""
        vendor_bank_name:
          type: string
          example: ""
        vendor_bank_number:
          type: string
          example: ""
        vendor_bank_swift:
          type: string
          example: ""
        vendor_iban:
          type: string
          example: ""
    DocumentUploadOptions:
      type: object
      properties:
        file_name:
          type: string
          description: ""
          example: invoice.png
        file:
          type: string
          description: ""
          format: binary
        file_data:
          type: string
          description: ""
          example: image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII=
        file_url:
          type: string
          description: Publicly accessible URL to a file, e.g. "https://cdn.example.com/receipt.jpg".
          example: https://raw.githubusercontent.com/veryfi/veryfi-python/master/tests/assets/receipt_public.jpg
        file_urls:
          type: array
          description: List of publicly accessible URLs to multiple files, e.g. ["https://cdn.example.com/receipt1.jpg", "https://cdn.example.com/receipt2.jpg"].
          items:
            type: string
            example: https://raw.githubusercontent.com/veryfi/veryfi-python/master/tests/assets/receipt_public.jpg
        auto_delete:
          type: integer
          description: Delete this document from Veryfi after data has been extracted.
          example: 1
        boost_mode:
          type: integer
          description: Flag that tells Veryfi whether boost mode should be enabled. When set to `1`, Veryfi will skip data enrichment steps, but will process the document faster. Default value for this flag is `0`.
          example: 1
        async:
          type: integer
          description: "123"
          example: 1
        external_id:
          type: string
          description: Optional custom document identifier. Use this if you would like to assign your own ID to documents.
          example: "123456789"
        max_pages_to_process:
          type: integer
          description: When sending a long document to Veryfi for processing, this parameter controls how many pages of the document will be read and processed, starting from page 1.
          example: 10
        tags:
          type: array
          description: List of tags
          items:
            type: string
            example: tag1
        categories:
          type: array
          description: List of categories to use when categorizing the document
          example:
            - Advertising & Marketing
            - Automotive
            - Bank Charges & Fees
            - Legal & Professional Services
            - Insurance
            - Meals & Entertainment
            - Office Supplies & Software
            - Taxes & Licenses
            - Travel
            - Automotive
            - Rent & Lease
            - Repairs & Maintenance
            - Payroll
            - Utilities
            - Job Supplies
            - Grocery
          items:
            type: string
    OperationStatus:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        error:
          type: string
    inline_response_200:
      required:
        - line_items
      type: object
      properties:
        line_items:
          type: array
          items:
            $ref: "#/components/schemas/LineItem"
    inline_response_200_1:
      required:
        - tags
      type: object
      properties:
        tags:
          type: array
          items:
            $ref: "#/components/schemas/Tag"
    DocumentVendor:
      type: object
      properties:
        address:
          type: string
          example: "1912 Harvest Lane\nNew York, NY 12210"
        category:
          type: string
          example: "Fast Food"
        email:
          type: string
          example: ""
        fax_number:
          type: string
          example: ""
        name:
          type: string
          example: "In-n-out Burger"
        phone_number:
          type: string
          example: "165 1 5 98"
        raw_name:
          type: string
          example: "In-N-Out Burger"
        vendor_logo:
          type: string
          example: "https://cdn.veryfi.com/logos/us/949103001.png"
        vendor_reg_number:
          type: string
          example: ""
        vendor_type:
          type: string
          example: "Fast Food"
        web:
          type: string
          example: ""
  responses:
    Documents:
      description: List of documents.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Document"
    Document:
      description: Document.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Document"
    LineItems:
      description: List of line items.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/inline_response_200"
    LineItem:
      description: LineItem.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LineItem"
    Tags:
      description: List of tags
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/inline_response_200_1"
    Tag:
      description: Tag.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Tag"
    OperationStatus:
      description: OperationStatus.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OperationStatus"
  parameters:
    DocumentId:
      name: document_id
      in: path
      description: ID of the document.
      required: true
      style: simple
      explode: false
      schema:
        type: integer
        format: int64
    LineItemId:
      name: line_item_id
      in: path
      description: ID of the line item.
      required: true
      style: simple
      explode: false
      schema:
        type: integer
        format: int64
    TagId:
      name: tag_id
      in: path
      description: ID of the tag
      required: true
      style: simple
      explode: false
      schema:
        type: integer
        format: int64
    Query:
      name: q
      in: query
      description: Query request to search in document's `ocr_text`.
      required: false
      style: form
      explode: true
      schema:
        type: string
    Tag:
      name: tag
      in: query
      description: Tag to search.
      required: false
      style: form
      explode: true
      schema:
        type: string
    ExternalId:
      name: external_id
      in: query
      description: External Id to search.
      required: false
      style: form
      explode: true
      schema:
        type: string
    CreatedGte:
      name: created__gte
      in: query
      description: Start date to search(including it).
      required: false
      style: form
      explode: true
      schema:
        type: string
        format: date-time
    CreatedGt:
      name: created__gt
      in: query
      description: Start date to search(including it).
      required: false
      style: form
      explode: true
      schema:
        type: string
        format: date-time
    CreatedLte:
      name: created__lte
      in: query
      description: End date to search(including it).
      required: false
      style: form
      explode: true
      schema:
        type: string
        format: date-time
    CreatedLt:
      name: created__lt
      in: query
      description: End date to search(including it).
      required: false
      style: form
      explode: true
      schema:
        type: string
        format: date-time
    ReturnAuditTrail:
      name: return_audit_trail
      in: query
      description: ""
      required: false
      style: form
      explode: true
      schema:
        type: string
  requestBodies:
    DocumentUploadOptions:
      description: Processing Settings.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DocumentUploadOptions"
        multipart/form-data:
          schema:
            $ref: "#/components/schemas/DocumentUploadOptions"
      required: true
    Document:
      description: Document.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Document"
      required: true
    LineItem:
      description: LineItem.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LineItem"
      required: true
    Tag:
      description: Tag.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Tag"
      required: true
  securitySchemes:
    ClientId:
      type: apiKey
      name: CLIENT-ID
      description: "Your Client ID"
      in: header
    Authorization:
      type: apiKey
      description: "Your username and API Key in the following format: `apikey USERNAME:API_KEY`"
      name: AUTHORIZATION
      in: header
